{
   "presets": [
      "@babel/preset-env",
   ],
   uglify: false, // Override preset ???
   plugins: [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-private-methods"
   ]
}
